@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    --tw-gradient-to: #475569 var(--tw-gradient-to-position);
    --tw-gradient-to: #475569 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #1e293b var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-from: #020617 var(--tw-gradient-from-position);
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}